@import 'base.scss';
.app {
    background: #f2f2f2;
    padding: 12px;
    .block {
        background: #fff;
        padding: 12px;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
        font-size: 12px;
        line-height: 20px;
        img {
            width: 100%;
        }
    }
}